

<div
        data-drupal-selector="{{ applicationNumber }}"
        id="{{ applicationNumber }}"
        class="{{ classes|join(' ') }}"
>
    {{ applicationFormName }}
    {{ statusString }}
    {{ applicationNumber }}
    {{ applicationSubmitted }}
    {{ viewApplicationLink }}
    {{ editApplicationLink }}
</div>