<li
  data-drupal-selector="{{ applicationNumber }}"
  id="{{ applicationNumber }}"
  class="application-list__item {{ classes|join(' ') }}"
>
  <div class="application-list__item__row">
    {{ statusTag }}
    {% if (statusString == 'DRAFT') %}
    <div class="applicataion-list__item--delete">
      <a class="hds-link hds-link--medium" href="/">{# TODO: Link #}
        <span aria-hidden="true" class="hds-icon hds-icon--trash hds-icon--size-s"></span><span class="link-label">
          {{ "Delete application"|t }}
        </span>
      </a>
    </div>
    {% else %}
      <div class="applicataion-list__item--print">
        <a class="hds-link hds-link--medium" href="/">{# TODO: Link #}
          <span aria-hidden="true" class="hds-icon hds-icon--printer hds-icon--size-s"></span><span class="link-label">
          {{ "Print application"|t }}
        </span>
        </a>
      </div>
    {% endif %}
  </div>
  <h3 class="application-list__item--name">
    {{ applicationFormName }}
  </h3>
  <div class="application-list__item__row application-list__item__row__left">
    {% if (statusString == 'DRAFT') %}
    <div class="application-list__item--submitted">
      <h4>{{ "Draft saved time"|t }}</h4>
      {{ applicationSubmitted }}
    </div>
    {% else %}
    <div class="application-list__item--submitted">
      <h4>{{ "Submission date"|t }}</h4>
      {{ applicationSubmitted }}
    </div>
    <div class="application-list__item--number">
      <h4>{{ "Application number"|t }}</h4>
      {{ applicationNumber }}
    </div>
    {% endif %}
  </div>
  {% if (statusString == 'DRAFT') %}
  <div class="application-list__item__link">
    {{ editApplicationLink }}
  </div>
  {% else %}
  <div class="application-list__item__link">
    {{ viewApplicationLink }}
  </div>
  {% endif %}
</li>
