<div class="application-list" id="{{ id }}">
  <div class="container">
    <h2>{{ header }}</h2>
    <div>{{ description }}</div>
    <div class="application-list__search-row">
    <div class="application-list-filter hds-text-input">
      <label for="applicationListFilter" class="hds-text-input__label">{{ "Search for an application"|t }}</label>
      <div class="hds-text-input__input-wrapper"><input autocomplete="off" class="hds-text-input__input search" type="text" name="applicationListFilter" id="applicationListFilter" />
      </div>
    </div>
      <div>
    <button type="button" class="hds-button hds-button--primary">
      <span class="hds-button__label">{{ "Search for application"|t }}</span>
      <span aria-hidden="true" class="hds-icon hds-icon--search"></span>
    </button></div>
    </div>
    <label><input type="checkbox" value="">{{ "Show only applications being processed"|t }}</label>
    <hr/>
    <div>
      <label for="applicationListSort">{{ "Sort"|t }}</label>
      <select name="applicationListSort" id="applicationListSort" class="sort">
        <option value="" selected>{{ "Sort by"|t }}</option>
        <option value="application-list-item--submitted">{{ "Submitted time"|t }}</option>
        <option value="application-list-item--status">{{ "Status"|t }}</option>
        <option value="application-list-item--name">{{ "Name (a-z)" }}</option>
        <option value="application-list-item--number">{{ "Application number" }}</option>
      </select>
      <button class="sort hidden" data-sort="application-list-item--submitted"></button>
    </div>
    <div class="application-list__count">X {{ 'Applications'|t }}</div>
    <ul class="list application-list">
      {% for item in items %}
        {{ item }}
      {% endfor %}
    </ul>
  </div>
</div>
