  {% if (message.messageStatus == 'UNREAD' and message.sentBy == 'Avustusten kasittelyjarjestelma') %}
    <div class="webform-submission-messages__new-message">
      <i class="hds-icon icon hds-icon--alert-circle hds-icon--size-s vertical-align-small-or-medium-icon" aria-hidden="true"></i>
      <span>{{ "New Message"|t }}</span>
    </div>
  {% endif %}
  <h5 class="webform-submission-messages__message-sender"><strong>{{ sender }}</strong> - {{ message.sendDateTime|date('d.m.Y H:i:s') }}</h5>
  <div class="webform-submission-messages__message-body">{{ message.body }}</div>
  {{ markReadLink }}
  {% if message.attachments %}
    <ul class="webform-submission-messages__message__attachments">
      {% for attachment in message.attachments %}
        <li class="webform-submission-messages__message__attachment"><i class="hds-icon icon hds-icon--paperclip hds-icon--size-xs vertical-align-small-or-medium-icon" aria-hidden="true"></i> <strong>{{ attachment.fileName }}</strong> - {{ attachment.description }}</li>
      {% endfor %}
    </ul>
  {% endif %}
  <hr/>
