{#
/**
 * @file
 * Default theme implementation for webform submission data.
 *
 * Available variables:
 * - webform_submission: The webform submission.
 * - webform: The webform.
 *
 * @see template_preprocess_webform_submission_data()
 *
 * @ingroup themeable
 */
#}
{%
    set classes = [
    'webform-submission-data',
    'webform-submission-data--webform-' ~ webform.id()|clean_class,
    view_mode ? 'webform-submission-data--view-mode-' ~ view_mode|clean_class,
]
%}

<div class="webform-submission-messages__wrapper">
    <h3>{{ 'Messages'|t }}</h3>
    <p>{{ 'You can send a message to the handler of the application or provide a missing attachment'|t }}</p>
    <div class="webform-submission-messages">
      <h4>{{ 'Sent messages'|t }}</h4>
      <hr/>
      <div{{ attributes.addClass(classes) }}>
        {{ messages }}
      </div>
      <div{{ attributes.addClass(classes) }}>
        {{ message_form }}
      </div>
    </div>
</div>
