
<div class="container">
  <div class="grants-profile">
    <div class="grants-profile--basicinfo">
      <div class="container">
        <h3>{{ "Company information"|t }}</h3>
        <p class="grants-profile--infotext">{{ "Avustusten hakeminen edellyttää yhteisön tietojen täydentämistä. Tehdessäsi avustushakemuksia antamasi tiedot täytetää niihin automaattisesti."|t }}</p>
        <h4>{{ "Basic Information"|t }}</h4>
        <hr />
        <div class="grants-profile--wrapper">
          <div class="grants-profile--wrapper-item">
            <h5>{{ "Company name"|t }}</h5>
            <div class="grants-profile--item grants-profile-company-name">{{ profile.companyName }} <span aria-hidden="true" class="hds-icon hds-icon--check-circle-fill hds-icon--size-s"></span></div>
          </div>
        </div>
        <hr/>
        <div class="grants-profile--wrapper">
          <div class="grants-profile--wrapper-item">
            <h5>{{ "Business ID"|t }}</h5>
            <div class="grants-profile-item">{{ profile.businessId }} <span aria-hidden="true" class="hds-icon hds-icon--check-circle-fill hds-icon--size-s"></span></div>
          </div>
          <div class="grants-profile--wrapper-item">
            <h5>{{ "Company Location"|t }}</h5>
            <div class="grants-profile-item">{{ profile.companyHome }} <span aria-hidden="true" class="hds-icon hds-icon--check-circle-fill hds-icon--size-s"></span></div>
          </div>
          <div class="grants-profile--wrapper-item">
            <h5>{{ "Registration Date"|t }}</h5>
            <div class="grants-profile-item">{{ profile.registrationDate|date('d.m.Y') }} <span aria-hidden="true" class="hds-icon hds-icon--check-circle-fill hds-icon--size-s"></span></div>
          </div>
          <div class="grants-profile--wrapper-item">
            <h5>{{ "Company Status"|t }}</h5>
            <div class="grants-profile-item">{{ profile.companyStatus }} <span aria-hidden="true" class="hds-icon hds-icon--check-circle-fill hds-icon--size-s"></span></div>
          </div>
          <div class="grants-profile--wrapper-item">
            <h5>{{ "Special Status"|t }}</h5>
            <div class="grants-profile-item">{{ profile.companyStatusSpecial }} <span aria-hidden="true" class="hds-icon hds-icon--check-circle-fill hds-icon--size-s"></span></div>
          </div>
        </div>
        <hr/>

        <div class="grants-profile-prh-info">
          <span aria-hidden="true" class="hds-icon hds-icon--check-circle-fill hds-icon--size-s"></span> {{ "Marked fields habe been retreived from PRH and cannot be edited."|t }}
        </div>
      </div>
    </div>
    <div class="grants-profile--extrainfo">
      <div class="container">
        {{ form }}
      </div>
    </div>
  </div>
</div>

