<p>Grants profile page. View / edit saved profile data</p>
<h2>{{ profile.companyName }}</h2>
<div>
<div>{{ profile.companyHome }}</div>
<div>{{ profile.businessId }}</div>
<div>{{ profile.registrationDate }}</div>
<div>{{ profile.companyStatus }}</div>
<div>{{ profile.companyStatusSpecial }}</div>
</div>
<p>{{ dump(profile) }}</p>
<hr />
<p>{{ grants_profile_form }}</p>
<hr />
{% if applications %}
    <ul class="company-address-list">
        {% for key,item in applications %}
            <li class="user-applications">
                <a href="/grants-profile/applications/{{ item.id }}">
                    {{ item.transaction_id }}
                </a>
            </li>
        {% endfor %}
    </ul>
{% endif %}



{#{% if profile %}#}

{#    <p>#}
{#    <h4>Addresses</h4>#}
{#    {% if profile.addresses %}#}
{#        <ul class="company-address-list">#}
{#            {% for key,item in profile.addresses %}#}
{#                <li class="user-applications">#}
{#                    <a href="/grants-profile/address/{{ key }}">#}
{#                        {{ item.street }}#}
{#                    </a>#}
{#                </li>#}
{#            {% endfor %}#}
{#        </ul>#}
{#    {% endif %}#}
{#    <a href="/grants-profile/address/new">New Address</a>#}
{#    </p>#}
{#    <p>#}
{#    <h4>Officials</h4>#}
{#    {% if profile.officials %}#}
{#        <ul class="company-address-list">#}
{#            {% for key,item in profile.officials %}#}
{#                <li class="user-applications">#}
{#                    <a href="/grants-profile/application-officials/{{ key }}">#}
{#                        {{ item.name }}#}
{#                    </a>#}
{#                </li>#}
{#            {% endfor %}#}
{#        </ul>#}
{#    {% endif %}#}
{#    <a href="/grants-profile/application-officials/new">New Official</a>#}
{#    </p>#}
{#    <p>#}
{#    <h4>Bank Accounts</h4>#}
{#    {% if profile.bankAccounts %}#}
{#        <ul class="company-address-list">#}
{#            {% for key,item in profile.bankAccounts %}#}
{#                <li class="user-applications">#}
{#                    <a href="/grants-profile/bank-accounts/{{ key }}">#}
{#                        {{ item.bankAccount }}#}
{#                    </a>#}
{#                </li>#}
{#            {% endfor %}#}
{#        </ul>#}
{#    {% endif %}#}
{#    <a href="/grants-profile/bank-accounts/new">New Bank Account</a>#}
{#    </p>#}


{#{% endif %}#}

