{#
/**
 * @file
 * Default theme implementation for webform wizard progress tracker.
 *
 * Available variables:
 * - webform: A webform.
 * - pages: Associative array of wizard pages.
 * - progress: Array of wizard progress containing page titles.
 * - current_page: Current wizard page key.
 * - current_index: The current wizard page index.
 * - max_pages: Maximum number of pages that progress text should be displayed on.
 *
 * @see template_preprocess_webform_progress_bar()
 * @see https://www.w3.org/WAI/tutorials/forms/multi-page/
 *
 * @ingroup themeable
 */
#}
{{ attach_library('webform/webform.progress.tracker') }}

<div class="grants-stepper" style="--number-of-pages:{{ progress|length }}">
  <ul class="grants-stepper__inner" data-webform-progress-steps>
    <li class="grants-stepper__lines" aria-hidden="true" style="width: max( calc(100% - var(--grants-step-width)), calc({{ progress|length }} * var(--grants-step-width) - var(--grants-step-width) ));">
      {% for index, page in progress %}
        {% set is_disabled = false %}
        {# TODO: Mistä saadaan tietää onko joku sivu disabloitu? #}
        {% if index != 1 %}
          <div class="grants-stepper__line{% if is_disabled %} grants-stepper__line__disabled{% endif %}" style="width: calc({{ 100 / (progress|length - 1) }}%);"></div>
        {% endif %}
      {% endfor %}
    </li>
    {% for index, page in progress %}
      {% set is_visited = index < current_index %}
      {# TODO: oikeasti käydyt sivut saavat tämän #}
      {% set is_active = index == current_index %}
      {% set is_disabled = false %}
      {# TODO: Mistä saadaan tietää onko joku sivu disabloitu? #}
      {% set classes = [
        'grants-stepper__steps',
        is_active ? 'is-active',
        is_visited ? 'is-visited',
      ] %}
      {% set attributes = create_attribute()
        .setAttribute('data-webform-' ~ page.type, page.name)
        .setAttribute('title', page.title)
        .setAttribute('class', 'grants-stepper__steps')
        .addClass(page_classes[page.name])
      %}
      <li{{ attributes }}>
        <div class="grants-stepper__step progress-marker{% if is_disabled %} grants-stepper__step__disabled{% endif %}"
             {% if is_active %}aria-current="true"{% else %}aria-current="false"{% endif %}
             data-webform-progress-step>
          <div class="grants-stepper__step__circle_container" data-webform-progress-link>
            <div class="grants-stepper__circle">
              <span aria-hidden="true" class="grants-stepper__error hds-icon hds-icon--error hds-icon--size-xs"></span>
              <span class="grants-stepper__number" data-text="{{ index + 1 }}" >{{ index + 1 }}</span>
            </div>
            <div class="grants-stepper__step__completed_container">
              <span aria-hidden="true" class="grants-stepper__completed hds-icon hds-icon--check hds-icon--size-s"></span>
            </div>
          </div>
          {% if progress|length < max_pages %}
            <p class="grants-stepper__text" data-webform-progress-link>
                    <span class="visually-hidden"
                          data-webform-progress-state>{% if is_active or is_completed %}{{ is_active ? 'Current'|t : 'Completed'|t }}{% endif %}</span>
              {{ page.title }}
            </p>
          {% endif %}
        </div>
      </li>
    {% endfor %}
  </ul>
</div>
