{#
/**
 * @file
 * Default theme implementation for webform submission information.
 *
 * Available variables:
 * - serial: The serial number of the submission entity.
 * - sid: The ID of the submission entity.
 * - uuid: The UUID of the submission entity.
 * - token: A secure token used to look up a submission.
 * - uri: The URI the user submitted the webform.
 * - created: The time that the submission was first saved.
 * - completed: The time that the submission was completed.
 * - changed: The time that the submission was saved.
 * - in_draft: Is this a draft of the submission?
 * - current_page: The current wizard page.
 * - remote_addr: The IP address of the user that submitted the webform.
 * - submitted_by: The user that submitted the webform.
 * - submitted_to: Link to the submission's URI.
 * - langcode: The submission language code.
 * - locked: A flag that indicates a locked submission.
 * - sticky: A flag that indicate the status of the submission.
 * - notes: Administrative notes about the submission.
 * - webform: The associated webform.
 * - token_update: The tokenize URL used to update the submission.
 * - delete: Link to delete the submission.
 *
 * @see template_preprocess_webform_submission_information()
 *
 * @ingroup themeable
 */
#}
<h3>{{ 'Application info'|t }}</h3>
<p>{{ 'Summary about your application and processing details.'|t }}</p>
<div class="webform-submission-information">
    <div class="webform-submission-information__row webform-submission-information__row-top">
        <h4>
            {{ webform.text }}
        </h4>
        <div class="webform-submission-information__supportlinks">
            {{ printApplicationLink }}
            {{ copyApplicationLink }}
        </div>
    </div>
    <div class="webform-submission-information__row webform-submission-information__row-main">

        <div>
            <h5>{{ "Application number"|t }}</h5>
            {{ applicationNumber }}
            <h5>{{ 'Sent date'|t }}</h5>
            {{ applicationSent }}
            <h5>{{ 'Handler information'|t }}</h5>
            {{ handler }}
        </div>
        <div>
            <h5>{{ "Application statuses"|t }}</h5>
            {{ history }}

        </div>
        <div>
            <h5>{{ "Application attachments"|t }}</h5>

            {{ attachments }}

        </div>

    </div>
    {% if isEditable and not isEditPage %}
        <div class="webform-submission-information__row webform-submission-information__row-edit">
            {{ editApplicationLink }}
        </div>
    {% endif %}


</div>
